*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: grey;
}
.card{
  width: 300px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2em;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.6)
  
  /* box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgb(48, 46, 46), -2px -2px 5px rgb(210, 210, 222);
  transition: box-shadow 0.3s ease-in-out; */
}
.card:hover{
  /* box-shadow: 4px 4px 15px 0px rgba(0,  0, 0, 0.2);
  box-shadow: 2px 2px 5px rgb(48, 46,  46), -2px -2px 5px rgb(210, 210,  222); */
  transform: scale(1.05);
  }
.card img{
  width: 230px;
}
.container{
  margin: 2em;

}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  grid-gap: 20px;
  padding: 20px;
  justify-items: center;

}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:2em
}
button{
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #151815;  
  color: white;
  cursor: pointer;  
}