/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: #eae2e2;
  text-align: center;
  font-size: 20px;
}
.completed {
  text-decoration: line-through;
}
.Todo-box{
  margin-top: 5%;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a6a2a2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(210, 200, 200);
  gap: 2.5em;
  border: 2px solid whitesmoke;
}
input {
  width: 300px;
  height: 45px;
}
select{
  width: 200px;
  height: 35px;
}
button{
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.Todo-table,.Todo-table-archive{
  width: 550px;
}
.Todo-table,.Todo-table-archive ,th,td{
  padding: 10px;
  border: 1px solid #ccc;
}
.todo-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:3em;
}
nav{
  width: 100vw;
  display: flex;  
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgb(210, 200, 200);
}
nav div{
  cursor: pointer;
  padding: 1em;
  padding-left: 4.5em;
  padding-right: 4.5em;
  font-size: larger;
}
.Todo-table-archives{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 5em;
}
.diver{
  width: 500px;
  height: 300px;
  min-height: 325px;
  overflow: hidden;
}
.diver li{
  list-style: none;
  padding: 0.8em;
  border: 1px solid #ccc;
}
.main-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 0 auto;
} */
 /* pagination */
 /* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
 }
 .ul{
  border: 1px solid black;
  padding: 0.5em;
  margin: 0 auto;
  width: 500px;
  font-size: large;
  margin-bottom: 10px;
 }
 .card{
  width: 300px;  
  border: 1px solid black;  
  padding: 0.5em;
  border-radius: 2em;
  font-size: large;
}
 .card img{
  width: 200px;
 }
 h1{
  font-size: 3em;
 }
 .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
  margin: 0 auto;
  gap: 1.5em;

 }
 button{
  padding: 0.5em;
 }
 .active{
  background-color: #60c0e0;
 } */
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .card{
    width: 300px;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 2em;
    font-size: large;

  }
  .card img{
    width: 200px;
    }
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    gap: 1.5em;

  }
  button{
    padding: 0.5em;
    margin: 2px;
  }
  .active{
    background-color: #60c0e0;
    }